<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;
            color: black;
            font-size: 18px;
        }

        h1 {
            color: black;
        }
        .page{
            padding-top: 70px;
        }

    </style>
</head>
<body>
    <div> <h1>Guess 4 numbers. Enter them separated with spaces:</h1>
        <form method="POST" action="/">
            {% csrf_token %}
            <input type="text" name="numbers"/>
            <input type="submit" value="Send"/>
            <a href="history/">History of moves</a>
        </form>
    <h2>
         {% if message %}
          Result: {{ message }}
         {% endif %}
    </h2>
    </div>
    <div class="page">
        <img src="https://st3.depositphotos.com/1719108/13154/i/600/depositphotos_131548618-stock-photo-bull-and-cow-are-standing.jpg" alt="">
    </div>
</body>
</html>